mat-form-field {
  display: block;
}

.status-menu__item {
  display: flex;
  align-items: center;
}

.status-menu__item__label {
  margin-right: 16px;
}

.status-menu__item__icon {
  margin: 0 0 0 auto !important;
}
